<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Share</string>
		<key>selector</key>
		<string>share:</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rate</string>
		<key>selector</key>
		<string>ratting:</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Profile</string>
		<key>selector</key>
		<string>profile:</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Events</string>
		<key>selector</key>
		<string>events:</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Credit Cards</string>
		<key>selector</key>
		<string>creditCard:</string>
	</dict>
</array>
</plist>
